.about {
    background: #232340;
    &-main {
        display: flex;
    }
    &-img1 {
        margin-top: 100px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    &-img2 {
        margin-top: 30px;
    }
    &-img3 {
        margin-left: 110px;
    }
}
