.contact {
    &-background {
        margin-top: -80px;
    }
    &-left {
        margin-top: -450px;
        &-number {
            margin-bottom: 10px;
            margin-top: 0;
            font-weight: 600;
            line-height: 24px;
            color: white;
            font-size: 16px;
        }
        &-title {
            display: block;
            font-size: 26px;
            line-height: 39px;
            font-weight: 600;
            margin-bottom: 25px;
            color: white;
            margin-bottom: 37px;
        }
        &-input {
            padding: 12px;
            border-radius: 5px;
            height: 45px;
            width: 270px;
            border: none;
        }
        &-import {
            width: 570px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px 30px;
        }
    }
}
