.contact {
    // &-main {
    //     display: flex;
    //     gap: 23px;
    // }
    // &-background {
    //     width: 1123px;
    //     margin-left: -400px;
    //     margin-top: -80px;
    // }
    &-left {
        background: #323259;
        &-number {
            margin-bottom: 10px;
            margin-top: 100px;
            font-weight: 600;
            line-height: 24px;
            color: #5468e7;
            font-size: 16px;
        }
        &-title {
            display: block;
            font-size: 26px;
            line-height: 39px;
            font-weight: 600;
            margin-bottom: 25px;
            color: black;
            margin-bottom: 37px;
        }
        &-input {
            padding: 12px;
            border-radius: 5px;
            height: 45px;
            width: 270px;
            border: none;
        }
        &-import {
            width: 570px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px 30px;
        }
        &-textarea {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #cccccc;
            height: 130px;
            width: 570px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    // &-right {
    //     z-index: -1;
    //     margin-top: -607px;
    // }
}
