.footer {
    &-top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-bottom: 60px;
    }
    &-icon {
        margin-right: 10px;
        border: 1px solid;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 50%;
        padding: 10px;
    }
    &-group {
        &-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: black;
            margin-top: 60px;
            margin-bottom: 16px;
            display: block;
        }
        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 26px;
            width: 267px;
            color: #666666;
            margin-bottom: 15px;
        }
        &-box {
            padding: 0;
        }
        &-li {
            font-size: 14px;
            line-height: 40px;
            font-weight: 400;
            color: #666666;
        }
        &-address {
            display: block;
            font-size: 14px;
            line-height: 40px;
            font-weight: 400;
            color: #666666;
            width: 164px;
        }
    }
    &-bottom {
        background: #323259;
        &-main {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            color: white;
        }
        &-left {
            font-size: 14px;
            line-height: 40px;
        }
    }
}
