.container {
    max-width: 1170px;
    margin: 0 auto;
}
.body {
    background: #ffffff;
}
* {
    box-sizing: border-box;
    font-family: $font;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none !important;
}
