.header {
    &-top {
        color: #666666;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #b4b0b0;

        &-right {
            display: flex;
            gap: 20px;
        }
    }
}
