.hero {
    height: 800px;
    margin-top: 55px;
    &-main {
        display: flex;

        align-items: center;
    }
    &-title {
        width: 260px;
        line-height: 60px;
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 23px;
    }
    &-content {
        height: 46px;
        width: 317px;
        font-weight: 400;
        font-size: 16px;
        display: inline-block;
        margin-bottom: 60px;
        margin-right: 147px;
    }
    &-down {
        margin-top: 114px;
        display: flex;
        gap: 9px;
    }
    &-icondown {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        text-align: center;
        padding: 13px;
        background: #c897e4;
    }
    &-img {
        width: 100%;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        &-left {
            width: 300px;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        &-main {
            align-items: flex-start;
            flex-direction: column-reverse;
        }
        &-title {
            width: 100%;
            line-height: 60px;
            font-weight: 600;
            font-size: 40px;
            margin-bottom: 5px;
        }
        &-content {
            width: 100%;
            height: 46px;
            font-weight: 400;
            font-size: 16px;
            display: inline-block;
            margin-bottom: 20px;
            margin-right: 147px;
        }
        &-down {
            margin-top: 30px;
            display: flex;
            gap: 9px;
        }
    }
    @media only screen and (min-width: 600px) and (max-width: 750px) {
        &-main {
            align-items: flex-start;
            flex-direction: column-reverse;
        }
        &-content {
            width: 100%;
            height: 46px;
            font-weight: 400;
            font-size: 16px;
            display: inline-block;
            margin-bottom: 20px;
            margin-right: 147px;
        }
        &-down {
            margin-top: 30px;
            display: flex;
            gap: 9px;
        }
    }
}
