.hero {
    margin-top: 55px;
    &-main {
        display: flex;

        align-items: center;
    }
    &-title {
        width: 260px;
        line-height: 60px;
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 23px;
    }
}
