.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
    &-button {
        display: flex;
        gap: 29px;
    }
    &-icon{
        background: red; */
    width: 18px;
    /* height: 18px; */
    display: inline-block;
    padding-top: 15px;
}
    }

