.subscribe {
    &-main {
        padding-top: 100px;
    }
    &-title {
        line-height: 39px;
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    &-text {
        color: #666666;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 30px;
    }
    &-import {
        display: flex;
    }
    &-input {
        display: block;
        padding: 12px 21px;
        border-radius: 5px 0 0 5px;
        border: 1px solid #cccccc;
        width: 685px;
        height: 45px;
    }
    &-button {
        text-align: center;
        background: #5468e7;
        width: 170px;
        height: 45px;
        padding: 11px;
        border-radius: 0px 5px 5px 0;
    }
}
